<ul id='cart' class="nav navbar-nav navbar-right">
  <% if cart.line_items.empty? then %>
    <li>0 item(s) - 0.00 руб.</li>
  <% else %>
    <li><%= cart.line_items.count.to_s+' item(s) - '+number_to_currency(cart.total_price) %></li>
    <li><%= link_to 'Оформить', new_order_path, method: :get %></li>
    <li><%= link_to 'Очистить', cart, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
<p> <%= link_to '', edit_cart_path(cart) %></p>
</ul>
